<!DOCTYPE html>
<html lang="en" xmlns:buttonv-on="" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">

    <title>My Web Page</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="page">
    <header>
        <h1>Web page title</h1>
    </header>
    <div class="topnav" id="navbar">


        <a href="index.html"> Registration / Login</a>

        <a href="new_search.html">Check activities</a>
        <a href="add_class.html">Add / Remove activity</a>


    </div>

    <div class="activities" style="min-height: 700px">


        <article class="component">


        </article>
        <aside>
            <hr>
            <p>On this page is possible to:</p>
            <hr>
            <li>
                Add classes
            </li>
            <!--<br>-->
            <li>
                Remove classes
            </li>
            <!--<br>-->
            <li>
                Check
                added classes
            </li>
            <hr>


        </aside>
        <section>
            <div id="add_activity" style="text-align: center">

                <h3>Add classes or after-school activities here:</h3>
                <hr>
                <form id="login_form">
                    <input required type="text" id="topic" v-model='topic' placeholder=" Topic" style="width: 40%; height: 25px ">
                    <br>
                    <input required type="text" id="price" v-model='price' placeholder=" Price" style="width: 40%;height: 25px">
                    <br>
                    <input required type="text" id="location" v-model='location' placeholder=" Location"
                           style="width: 40%;height: 25px">
                    <br>
                    <input required type="text" id="time" v-model='time' placeholder=" Time"
                           style="width: 40%;height: 25px">
                    <br>
                    <input required type="text" id="length" v-model='length' placeholder=" Length"
                           style="width: 40%;height: 25px">

                    <br>
                    <button type="submit" v-on:click='add_function'>Add class / activity</button>
                </form>
                <hr>
            </div>

            <div id="log_activity">
                <p>This are the activities added by the user logged as:
                    <span style="color: palevioletred ;font-family: 'Calibri', monospace; margin-left: 15px">{{logged}}</span></p>
                <p>Account type: <span style="color: palevioletred ;font-family: 'Calibri', monospace; margin-left: 15px">{{selection}}</span> </p>

                <div v-if="ca.author === logged" v-for="(ca,index) in classes" :key="index" style="width: 300px; padding:10px 30px 10px 30px;"
                     v-bind:style="{ 'border':'solid #999 3px', 'display':'inline-block', 'margin':'10px'}">
                    <!--<li>{{ index }}</li>-->
                    <li>Topic : {{ca.topic}}</li>
                    <li>Location : {{ ca.location }}</li>
                    <li>Price : £ {{ ca.price }}</li>
                    <li>Time : {{ca.time}}</li>
                    <li>Length : {{ca.length}}</li>
                    <button type="submit" @click="remove_classes(index)" style="display: inline-block">Remove activity</button>
                </div>

            </div>


        </section>

    </div>

    <script>

        if (localStorage.getItem('logged')) {
            logged = JSON.parse(localStorage.getItem('logged'));
        }

        var log_activity = new Vue({
            el: '#log_activity',
            data: {
                classes: JSON.parse(localStorage.getItem('classes')),
                logged: logged.registration_email,
                selection: logged.selection
            },
            computed: {
                check_classes: function () {
                    return this.classes.filter(function (activity) {
                        return activity.author === logged.registration_email
                    })
                },
            },
            methods: {
                remove_classes: function (index) {
                    this.classes.splice(index, 1);
                    localStorage.setItem('classes', JSON.stringify(this.classes));
                }
            }
        });

        var add_activity = new Vue({
            el: '#add_activity',
            data: {
                location: '',
                price: '',
                topic: '',
                time:'',
                length:'',
                class: [],
                logged: {},
                classes: ''
            },

            methods: {
                add_function: function () {
                    var classes = '';
                    var logged = '';
                    var addedTopic = this.topic;
                    var addedLocation = this.location;
                    var addedPrice = this.price;
                    var addedTime = this.time;
                    var addedLength = this.length;
                    if (localStorage.getItem('classes')) {
                        classes = JSON.parse(localStorage.getItem('classes'));
                    }
                    if (localStorage.getItem('logged')) {
                        logged = JSON.parse(localStorage.getItem('logged'));
                    }
                    var logged_author = logged.registration_email;
                    if (classes && logged) {

                        if (addedTopic.length !== 0 && addedPrice.length !== 0 && addedLocation.length !== 0 && logged.selection === 'Service provider') {
                            classes.push({
                                'topic': addedTopic,
                                'price': addedPrice,
                                'location': addedLocation,
                                'time':addedTime,
                                'length':addedLength,
                                'n.ranking': '',
                                'sum.ranking': '',
                                'author': logged_author

                            })

                            localStorage.setItem('classes', JSON.stringify(classes));
                            alert('THE ACTIVITY HAS BEEN ADDED!')

                        }
                        else {
                            alert('Error. ONLY Service providers can add activities.')
                        }
                    }
                    else if (addedTopic.length !== 0 && addedPrice.length !== 0 && addedLocation.length !== 0 && logged.selection === 'Service provider') {
                        classes = [{
                            'topic': addedTopic,
                            'price': addedPrice,
                            'location': addedLocation,
                            'time':addedTime,
                            'length':addedLength,
                            'n.ranking': '',
                            'sum.ranking': '',
                            'author': logged_author

                        }];
                        localStorage.setItem('classes', JSON.stringify(classes));
                        {
                            alert('ACTIVITY ADDED!')
                        }
                    }
                    else {
                        alert('ONLY SERVICE PROVIDERS CAN ADD ACTIVITIES!')
                    }
                }
            }
        })
    </script>


    <script>
        window.onscroll = function () {
            myFunction()
        };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>


    <footer>
        <section>
            <p id="author">Author: <span>Aneta Zabek</span></p>
            <p id="contact">E-mail address: <span>AZ268@live.mdx.ac.uk</span></p>
        </section>
    </footer>
</div>


</body>
