<!DOCTYPE html>
<html lang="en" xmlns:buttonv-on="" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">

    <title>My Web Page</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="page">
    <header>
        <h1>Web page title</h1>
    </header>
    <div class="topnav" id="navbar">


        <a href="index.html"> Registration / Login</a>

        <a href="search_activities.html">Check activities</a>
        <a href="add_class.html">Add activity</a>


    </div>

    <div class="activities" style="min-height: 500px">






        <article class="component">



        </article>
        <aside>


        </aside>
        <section >
            <div id="add_activity" style="text-align: center">
                <h3>Add classes or after-school activities here:</h3>
                <hr>
                <form id="login_form">
                    <input required type="text" id="topic" v-model='topic' placeholder=" Topic" style="width: 40%;">
                    <br>
                    <input required type="text" id="price" v-model='price' placeholder=" Price" style="width: 40%;">
                    <br>
                    <input required type="text" id="location" v-model='location' placeholder=" Location" style="width: 40%;">
                    <br>
                    <button type="submit" v-on:click='add_function'>Add class / activity</button>
                                <!--<button type="submit" @click="addList">Modify</button>-->
                                <!--<button type="submit" @click="myDeleteFunction()">Remove</button>-->

                </form>
                <hr>
                <!--<div v-for="log in logged">-->
                <!--<h3>Courses added recently by {{ logged.registration_email }}</h3>-->
                <!--</div>-->
            </div>

            <div id="array" >
                <div v-for="activity in check_classes" style="padding:10px 10px 10px 10px;"
                     v-bind:style="{ 'border':'solid CadetBlue 3px', 'display':'inline-block', 'margin':'10px'}">
                    <li v-for="">{{ activity.topic }}</li>
                    <li>   {{ activity.location }}</li>
                    <li>{{ activity.price }}</li>
                    <button type="submit" v-on:click="remove_function">Remove activity</button>
                </div>
            </div>




        </section>

            </div>

    <script>
        // var author_classes = JSON.parse(localStorage.getItem('classes'));
        //
        // if (localStorage.getItem('logged')) {
        //     logged = JSON.parse(localStorage.getItem('logged'));
        // }
        // var logged_author = logged.registration_email;
        //
        // new Vue({
        //     el: '#array',
        //     data: {
        //         // activeFilters: [],
        //         classes: author_classes,
        //         logged:''
        //         // queryFind: '',
        //     },
        //     computed: {
        //         check_classes: function () {
        //             return this.classes.filter(function (activity) {
        //                 return activity.author === logged_author
        //             })
        //         },
        //     }
        // })
        if (localStorage.getItem('logged')) {
                logged = JSON.parse(localStorage.getItem('logged'));
            }
        // localStorage.setItem('check_classes', JSON.stringify(check_classes))
        // localStorage.setItem('check_classes', JSON.stringify(check_classes))
         var array= new Vue({
            el: '#array',
            data: {
                classes:
                    JSON.parse(localStorage.getItem('classes'))
            },
             computed: {
                         check_classes: function () {
                             return this.classes.filter(function (activity) {
                                 return activity.author === logged.registration_email
                                 // var check_classes=localStorage.setItem('check_classes', JSON.stringify());

                                 // localStorage.setItem('check_classes', JSON.stringify(check_classes))
                             })
                             // localStorage.setItem('check_classes', JSON.stringify(this.check_classes))


                         },


                     },
             // methods: {
             //     remove_function: function (x) {
             //         // var check_classes=localStorage.setItem('check_classes', JSON.stringify());
             //         // if (check_classes){
             //         //     localStorage.setItem('check_classes', JSON.stringify(check_classes))
             //         // }
             //         var newww= JSON.parse(localStorage.getItem('check_classes'))
             //         newww.splice(x, 1);
             //             localStorage.setItem('123', JSON.stringify(newww))
             //         // let parsed= JSON.stringify(this.check_classes)
             //     }
             // }

        })





        var add_activity = new Vue({
            el: '#add_activity',
            data: {
                location: '',
                price: '',
                topic: '',
                class: [],
                logged:{}
            },

            methods: {
                add_function: function () {
                    var classes = '';
                    var logged= '';
                    var addedTopic = this.topic;
                    var addedLocation = this.location;
                    var addedPrice = this.price;
                    if (localStorage.getItem('classes')) {
                        classes = JSON.parse(localStorage.getItem('classes'));
                    }
                    if (localStorage.getItem('logged')) {
                        logged = JSON.parse(localStorage.getItem('logged'));
                    }
                    var logged_author= logged.registration_email;
                    if (classes && logged) {

                        if (addedTopic.length!==0 && addedPrice.length!==0 && addedLocation.length!==0 && logged.selection==='Service provider')
                        {
                            classes.push({
                                'topic': addedTopic,
                                'price': addedPrice,
                                'location': addedLocation,
                                'n.ranking':'',
                                'sum.ranking':'',
                                'author':logged_author

                            })

                        localStorage.setItem('classes', JSON.stringify(classes));
                        alert('THE ACTIVITY HAS BEEN ADDED!')

                        }
                        else{
                            alert('Error. ONLY Service providers can add activities.')
                        }
                        // {
                        //     alert('THE ACTIVITY HAS BEEN ADDED!')
                        // }

                    }
                    else if (addedTopic.length!==0 && addedPrice.length!==0 && addedLocation.length!==0 && logged.selection==='Service provider') {
                        classes = [{
                            'topic': addedTopic,
                            'price': addedPrice,
                            'location': addedLocation,
                            'n.ranking':'',
                            'sum.ranking':'',
                            'author':logged_author

                        }];
                        localStorage.setItem('classes', JSON.stringify(classes));
                        {
                            alert('ACTIVITY ADDED!')
                        }
                    }
                    else{
                        alert('ONLY SERVICE PROVIDERS CAN ADD ACTIVITIES!')
                    }
                }
            }
        })
        // new Vue({
        //     el: '#array',
        //     data: {
        //         location: '',
        //         price: '',
        //         topic: '',
        //         class: [],
        //         logged: {}
        //     },
        //
        //     methods: {
        //         remove_function: function () {
        //             array.items.push({text: this.message});
        //             this.message= "";
        //         }
        //     }
        // })
    </script>












    <script>
        window.onscroll = function () {
            myFunction()
        };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>


    <footer>
        <section>
            <p id="author">Author: <span>Aneta Zabek</span></p>
            <p id="contact">E-mail address: <span>AZ268@live.mdx.ac.uk</span></p>
        </section>
    </footer>
</div>


</body>
